/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 0 30px; /* Márgenes a los lados */
}

.container {
    width: 100%;
    max-width: 1200px; /* Máximo ancho */
    margin: 0 auto;
    padding: 30px 20px; /* Añadir margen alrededor */
}

h1, h2 {
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #0073b1; /* Color azul similar a LinkedIn */
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 40px;
}

.header .title {
    font-size: 1.3em;
    font-weight: 300;
    color: #555;
}

.header .contact-info {
    margin-top: 20px;
}

.contact-link {
    color: #0073b1;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Secciones */
.section {
    margin-bottom: 40px;
}

.section h2 {
    text-align: left;
    font-size: 1.7em;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.5;
}

.job, .project {
    margin-bottom: 30px;
}

.project a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.1em;
}

.project a:hover {
    text-decoration: underline;
}

/* Card de experiencia o proyecto */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.card p {
    font-size: 1.1em;
    color: #7f8c8d;
}

/* Footer */
.footer {
    text-align: center;
    background-color: #0073b1;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

.footer p {
    font-size: 0.9em;
}

/* Responsividad */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }

    .header h1 {
        font-size: 2em;
    }

    .container {
        padding: 20px 10px;
    }

    .contact-link {
        display: block;
        margin-bottom: 10px;
    }
}
